<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Travanada2.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
				<key>dateExpires</key>
				<string>05/07/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>AlamofireImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MDFInternationalization.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MaterialComponents.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SearchTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>TTSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>88226A0A87951BB3E884351DB7B17D81F11ABA9E</string>
						<key>dateExpires</key>
						<string>05/07/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFZ9279PJX</string>
						<key>name</key>
						<string>Ketan  Dosi</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CFZ9279PJX.com.nst.Travanada3</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CFZ9279PJX</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>CFZ9279PJX.com.nst.Travanada3</string>
				</array>
			</dict>
			<key>name</key>
			<string>Travanada2.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>153895cc-1fb4-4db2-a06c-b77873e51362</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.nst.Travanada3</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CFZ9279PJX</string>
				<key>name</key>
				<string>Ketan  Dosi</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
