<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163632188274-ld3o1ombvaipoi6q0t0m59oigp5feavb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163632188274-ld3o1ombvaipoi6q0t0m59oigp5feavb</string>
	<key>API_KEY</key>
	<string>AIzaSyCwsP_jrInhshrJFZ3GmmwcKNpI5c1Ksgo</string>
	<key>GCM_SENDER_ID</key>
	<string>163632188274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nst.Travanada2</string>
	<key>PROJECT_ID</key>
	<string>loginapp-da11f</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-da11f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163632188274:ios:a4ca72e427593794</string>
	<key>DATABASE_URL</key>
	<string>https://loginapp-da11f.firebaseio.com</string>
</dict>
</plist>